footer {
    .edit-link {
        display: block;
        background: var(--warning);
        padding: var(--padding);
        position: relative;
        margin-top: calc( var(--margin) * 3 );
        ::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid var(--warning);
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(var(--margin), -100%);
        }
        a {
            display: inline-block;
            line-height: 1;
            color: var(--white)!important;
        }
    }
}

.wpcf7-not-valid-tip {
    background: var(--danger);
    display: block;
    padding: var(--padding);
    color: var(--white);
    font-size: var(--h5);
    line-height: 1.25;
}
.wp-block-buttons .wp-block-button__link {
    width: auto;
}

.map {
    width: 100%;
    height: 40vh;
}

.njt-gdpr  {
    .njt-gdpr-content {
        line-height: 1.5;
    }
}